@font-face {
    font-family: 'edwardianscriptefregular';
    src: url('fonts/edwardianscriptefregular-webfont.eot');
    src: url('fonts/edwardianscriptefregular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/edwardianscriptefregular-webfont.woff2') format('woff2'),
    url('fonts/edwardianscriptefregular-webfont.woff') format('woff'),
    url('fonts/edwardianscriptefregular-webfont.ttf') format('truetype'),
    url('fonts/edwardianscriptefregular-webfont.svg#edwardianscriptefregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    background-color: white;

    background-repeat:no-repeat;
    background: -webkit-linear-gradient(#f5dfe2, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5dfe2, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5dfe2, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fbf9cb, #ffffff) fixed; /* Standard syntax */

}
body {
    color: #7b3e46;
    min-height:100%;

    background-color: inherit;
    font-family: "Minion Pro", serif;
    min-width: 1000px;
    margin:0 auto;


}
header{
    height:120px;
    padding: 15px;
    text-align:center;
    margin:0 auto;

    background: #ffffff;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(#723941, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#7b3e46, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#7b3e46, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#7b3e46, #ffffff) fixed; /* Standard syntax */

}
h1 {
    font-family: edwardianscriptefregular, Calbiri, serif;
    color: #ffe6f6;
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    margin: 0;
    display:inline-block;
    vertical-align: middle;

}
#main{
    /*
    background-color:rgb(231,247,254);
    color: rgb(16,79,111);
    font-family: "Helvetica", sans-serif;
    padding: 20px;
    text-align: justify;*/

    width: 1000px;
    min-height:600px;
    margin:0 auto;
    text-align: center;


}

#carousel {
    padding-top:20px;
    text-align: center;

}
#carousel figure{
    margin: 0;

}
#carousel img{
    border: 1px solid rgb(114, 57, 65);
}
#content{


}




nav{
    color: #ffffff;
    display: inline-block;
    letter-spacing: 2px;
    vertical-align: middle;
}
nav ul li{
    background-color: inherit;
    font-size: 24px;
    display: inline;
    padding: 40px;


}


/* unvisited link */
nav a:link {
    color: rgb(245, 223, 226);
    background-color: inherit;
    text-decoration:none;
}

/* visited link */
nav a:visited {
    color: rgb(245, 223, 226);
    background-color: inherit;
    text-decoration:none;
}

/* mouse over link */
nav a:hover {
    color: rgb(245, 223, 226);
    background-color: inherit;
    text-decoration:underline;
}

/* selected link */
nav a:active {
    color: #ffffff;
    background-color: inherit;
    text-decoration:none;
}

footer{
    width:100%;
    height: 80px;
    position:absolute;


    text-align:center;
    background: #ffffff;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(#ffffff,#723941); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#7b3e46, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#7b3e46, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff,#7b3e46) fixed; /* Standard syntax */
}

footer .top {
    background-color: inherit;
    color: rgb(231, 247, 254);
    text-decoration: underline;

}
footer p{
margin:0;
    padding-top:15px;
}

}
footer .top:hover {
    color: rgb(139,185,205);
    background-color: inherit;
    text-decoration:none;
}
